* {
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
    z-index: 1;
}

/* 
    Código exemplo : https://blog.logrocket.com/create-responsive-mobile-menu-css-without-javascript/

*/

/* Tema *//* import font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); 


/* Setando as cores utilizadas no Projeto */
:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} 
/* variables*/

/* Resetando os padrões do HTML */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */

.header{
    background-color: #4b779d;
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    margin-top: 5px;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover{
    background-color: var(--gray);
}

/**** Icone do Menu Hamburguer*****/

/*Estilizando a Tag Label */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Estilizando a Tag Span */
.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
} 

.hamb-line::before,
.hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

/* Escondendo o input checkbox */
.side-menu {
    display: none;
} 

/* Alternar ícone do menu */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

body:has(.side-menu:checked) {
  overflow: hidden;
}

#img_logo {
    width: 80px;
    padding-left: 20px;
    padding-top: 10px;
}

#img_destaque {
    width: 100%;
}

#botao_agendar {
    background-color: #295377;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    margin-top: -80px;
    margin-left: 30px;
    position: absolute;
    color: white;
    line-height: 5px;
}
#agendar{
    margin-left: 45px;
    margin-top: -14px;
}

#botao_agendar img {
    width: 30px;
    padding-top: 10px;
    margin-left: 12px;
    margin-top: 2px;
}

body {
    background-color: #eceaea;
    font-family: "Be Bold Font";
    font-size: 23px;
}

@font-face {
    font-family: Be Bold Font;
    src: url(Odin\ Rounded\ -\ Bold.otf);
    font-weight: normal;
    font-style: normal;
}

.titulo {
    color: #f29e38;
    src: url(Odin\ Rounded\ -\ Bold.otf);
    font-size: 30px;
    padding-left: 30px;
    padding-top: 20px;
}

.texto {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    margin-top: 20px;
    font-family: Be Bold Font;
    color: #000000;
}

#foto_gradiente {
    text-align: center;
}

#ajustar_foto_gradiente {
    margin-top: -250px;
    text-align: center;
}

#ajustar_foto_raiox {
    padding-left: 30px;
}

#ajustar_foto_banho {
    padding-left: 40px;
}

#agendar_consulta {
    margin: 20px auto; 
    padding-left: 10px;
    text-align: center;
    padding-top: 10px;
    background-color: #f29e38;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.img_locais {
    width: 180px;

    height: auto;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 30px;
}

#duas_colunas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

.nosso_diferencial {
    background-color: #7eb3e2;
    margin: 50px auto;
    width: 300px;
    height: 80px;
    text-align: center; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    border-radius: 20px; 
    color: purple;
    font-weight: 600;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#subir_diferencial {
    margin-top: -100px;
}

footer {
    background-color: #295377;
    height: 350px;
    font-size: 20px;
}

#links_uteis {
    padding-left: 50px;
    padding-top: 30px;
    color: #fd9f2b;
    font-weight: 100;
}

.links a {
    text-decoration: none;
    color: #f0b56c;
    padding: 20px;
}

.links {
    padding-left: 30px;
    padding-top: 20px;
}

hr {
    margin-left: 50px;
    margin-right: 50px;
}

#divBusca {
  background-color: #E0EEEE;
  border: solid 2px #5F9EA0;
  border-radius: 10px;
  width: 230px;
  height: 32px;
  margin-top: -50px;
  margin-left: 95px;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
}

#divBusca img {
  width: 35px;
  padding: 0 10px; /* Ajuste o padding para não criar espaço extra */
}

#txtBusca {
  background-color: transparent;
  padding: 0 10px; /* Remove o padding desnecessário e garante que o texto não se sobreponha */
  font-size: 18px;
  border: none;
  height: 100%; /* Ajusta a altura para que se ajuste ao contêiner */
  width: 100%; /* Ajusta a largura para preencher o espaço restante */
  box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total */
}

#btnBusca {
  border: none;
  height: 100%;
  border-radius: 0 7px 7px 0;
  width: 80px;
  background: #3a5a7d;
  color: white;
  padding: 5px;
  box-sizing: border-box; /* Garante que a largura inclui padding e border */
}

#divBusca img {
  margin-right: 10px; /* Adiciona um pequeno espaço entre a imagem e o campo de texto */
}

#feedback {
    color: #f29e38;
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 1000px; /* Aumentado para mais profundidade */
    width: 300px;
    margin: 40px auto;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%; /* Ajusta a largura do slide */
    width: 100%;
    background-color: #CFCFCF;
    counter-increment: item;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Removido erro de sintaxe */
}

.carousel__slide:nth-child(even) {
    background-color: #CFCFCF;
}

.carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
    font-size: 2em;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

.carousel__snapper img {
    width: 25px;
    padding-left: 10px;
}

.carousel__snapper #logo {
    width: 130px;
    padding-left: 90px;
}

/* Ocultar a barra de rolagem */
.carousel__viewport::-webkit-scrollbar {
    display: none;
}

.texto_feedback {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
    text-align: justify;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 3rem; /* Ajuste a largura dos botões de navegação conforme necessário */
    height: 3rem; /* Ajuste a altura dos botões de navegação conforme necessário */
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carousel__prev {
    left: -1rem;
}

.carousel::after,
.carousel__next {
    right: -1rem;
}

.nome_da_pessoa_no_feedback {
    padding-top: 10px;
    padding-left: 10px;
}

.img_feedback {
    width: 25px;
    padding-left: 5px;
    margin-top: -50px;
}

#logo {
    width: 40px;
    float: right;
    padding-right: 10px;
    margin-top: -30px;
}

#logo_do_footer img {
    width: 130px;
    padding-top: 20px;
    padding-left: 50px;
}

#foto_gradiente img {
    text-align: center;
    width: 400px;
}

#ajustar_foto_gradiente {
    margin-top: -200px;
}

#ajustar_foto_raiox {
    margin-left: -20px;
    margin-top: -100px;
}

#ajustar_foto_banho {
    margin-left: -40px;
    border-radius: 30px;
    margin-top: -50px;
}

.progress-container {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.progress-bar {
    height: 100%;
    width: 0;
    background: #4caf50;
    transition: width 0.2s ease;
}

.content {
    padding: 20px;
}

@media (max-width: 400px) {

    #divBusca {
        background-color: #E0EEEE;
        border: solid 2px #5F9EA0;
        border-radius: 10px;
        width: 160px;
        height: 32px;
        margin-top: -50px;
        margin-left: 95px;
        display: flex;
        align-items: center; /* Centraliza verticalmente */
    }

    #txtBusca {
        background-color: transparent;
        margin: -20px;
        font-size: 18px;
        border: none;
        height: 100%; /* Ajusta a altura para que se ajuste ao contêiner */
        width: 100%; /* Ajusta a largura para preencher o espaço restante */
        box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total */
    }
    
    #foto_gradiente img {
        text-align: center;
        width: 300px;
    }

    #ajustar_foto_gradiente {
        margin-top: -150px;
    }
    
    #ajustar_foto_raiox {
        margin-left: -20px;
        margin-top: -90px;
    }
    
    #ajustar_foto_banho {
        margin-left: -40px;
        border-radius: 30px;
    }

    .carousel {
        position: relative;
        padding-top: 75%;
        filter: drop-shadow(0 0 10px #0003);
        perspective: 100px;
        width: 300px;
        margin: 40px auto;
    }
}